<a class="p-2 text-dark" href="{% url 'polls:index' %}">На главную</a>

{% if question.was_published_recently%}
<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>
            <h1>{{question.question_text}}</h1>
            {% if question.photo %}
            <img class='img' src="{{ question.photo.url }}" height=200 width=200>
            {% endif %}
            {% if question.detail %}
            <p>{{question.detail}}</p>
            {% endif %}
        </legend>
        {% if error_message %}<p><strong> {{error_message}}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}">
        <label for="choice{{forloop.counter}}">{{choice.choice_text}}</label><br>
        {% endfor %}
    </fieldset>
<input type="submit" value="Vote">
</form>
{% endif %}